@font-face {
  font-family: 'cmu_sans_serifmedium';
  src: url('../fonts/cmunss-webfont.eot');
  src: url('../fonts/cmunss-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunss-webfont.woff2') format('woff2'), url('../fonts/cmunss-webfont.woff') format('woff'), url('../fonts/cmunss-webfont.ttf') format('truetype'), url('../fonts/cmunss-webfont.svg#cmu_sans_serifmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_sans_serifbold';
  src: url('../fonts/cmunsx-webfont.eot');
  src: url('../fonts/cmunsx-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunsx-webfont.woff2') format('woff2'), url('../fonts/cmunsx-webfont.woff') format('woff'), url('../fonts/cmunsx-webfont.ttf') format('truetype'), url('../fonts/cmunsx-webfont.svg#cmu_sans_serifbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_sans_serifboldoblique';
  src: url('../fonts/cmunso-webfont.eot');
  src: url('../fonts/cmunso-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunso-webfont.woff2') format('woff2'), url('../fonts/cmunso-webfont.woff') format('woff'), url('../fonts/cmunso-webfont.ttf') format('truetype'), url('../fonts/cmunso-webfont.svg#cmu_sans_serifboldoblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_sans_serif_demi_condemiCn';
  src: url('../fonts/cmunssdc-webfont.eot');
  src: url('../fonts/cmunssdc-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunssdc-webfont.woff2') format('woff2'), url('../fonts/cmunssdc-webfont.woff') format('woff'), url('../fonts/cmunssdc-webfont.ttf') format('truetype'), url('../fonts/cmunssdc-webfont.svg#cmu_sans_serif_demi_condemiCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cmu_sans_serifoblique';
  src: url('../fonts/cmunsi-webfont.eot');
  src: url('../fonts/cmunsi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunsi-webfont.woff2') format('woff2'), url('../fonts/cmunsi-webfont.woff') format('woff'), url('../fonts/cmunsi-webfont.ttf') format('truetype'), url('../fonts/cmunsi-webfont.svg#cmu_sans_serifoblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: 'cmu_sans_serifmedium';
  color: #4E4E4E;
}

a:link, a:visited, a:active {
  color: #499C76
;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.bob-grid-container {
  display: grid;
  grid-template-columns: 10% 78% 10%;
  grid-template-rows: 25% 30% 1%;
  grid-gap: 0px;
  height: 85%;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #499C76

  ;
}

@media only screen and (min-width: 1000px) {
  .bob-grid-container header {
    background-image: url('../img/bob-brand.jpg');
    background-size: 290px;
    background-repeat: no-repeat;
    background-position: 100% 0.5em;
  }
}

.bob-grid-container header {
  grid-column: 2;
  grid-row: 1;
  padding-top: 0.7em;
  font-size: 3em;
}

.bob-grid-container article {
  background-color: #fff;
  grid-column: 2;
  grid-row: 2 / span 2;
}


/* 
 * -- Page slider --------------------------------------------
 */

.bob-slider,
.bob-slider-elements,
.bob-slider-controls {
  margin: 0;
}

.bob-slider-controls {
  position: absolute;
  left: 0%;
  width: 95%;
  text-align: center;
  bottom: 2em;
}

.bob-slider {
  overflow-x: hidden;
  height: 100%;
}

.bob-slider-elements:after {
  content: ".";
  display: block;
  height: .1px;
  clear: both;
  visibility: hidden;
  font-size: 0;
  overflow: hidden;
}

.bob-slider-elements {
  list-style: none;
  position: relative;
  left: 0;
  width: 700%
  ;
  padding: 0;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  background-color: #fff;
  height: 90%;
}

.bob-slider-elements>li {
  float: left;
  width: 14.2857142857%
  ;
  height: 100%;
  position: relative;
}

#slide02:checked~.bob-slider-elements {
  left: -100%;
}

#slide03:checked~.bob-slider-elements {
  left: -200%;
}


#slide03:checked ~ .bob-slider-elements { left: -200%; }
#slide04:checked ~ .bob-slider-elements { left: -300%; }
#slide05:checked ~ .bob-slider-elements { left: -400%; }
#slide06:checked ~ .bob-slider-elements { left: -500%; }
#slide07:checked ~ .bob-slider-elements { left: -600%; }


.bob-slider input {
  position: absolute;
  left: -99999px;
}

.bob-slider-controls {
  text-align: center;
}

.bob-slider-controls li {
  display: inline-block;
  font-size: 0;
}

.bob-slider-controls label {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  background: #499C76

  ;
  color: #499C76

  ;
}

.bob-slider-controls label:hover,
#slide01:checked~.bob-slider-controls label[for="slide01"],
#slide02:checked~.bob-slider-controls label[for="slide02"]
,
#slide03:checked ~ .bob-slider-controls label[for="slide03"], 
#slide04:checked ~ .bob-slider-controls label[for="slide04"], 
#slide05:checked ~ .bob-slider-controls label[for="slide05"], 
#slide06:checked ~ .bob-slider-controls label[for="slide06"], 
#slide07:checked ~ .bob-slider-controls label[for="slide07"]


{
  background: #ddd;
  color: #ddd;
}

.bob-center {
  margin-left: auto;
  margin-right: auto;
}

.bob-huge-font {
  font-size: 3em;
}


/* 
 * -- Front page --------------------------------------------
 */

@media only screen and (min-width: 1000px) {
  .bob-slide-frontpage {
    background-image: url('../img/bob-eyecatch.png');
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: 100% 0em;
  }
}

.bob-slide-frontpage {
  min-height: 500px;
}

p {
  margin: 5px 0;
}

.bob-slide-title {
  font-size: 3em;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 0;
  max-width: 650px;
  line-height: 1;
}

.bob-slide-subtitle {
  font-size: 3em;
  color: #939393;
}

.bob-slide-authors {
  font-size: 2em;
}

.bob-slide-date {
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
}


/* 
 * -- Regular page --------------------------------------------
 */

@media only screen and (max-width: 1000px) {
  .bob-slide-regular {
    font-size: 1.3em;
    padding-top: 0em;
  }
}

@media only screen and (min-width: 1000px) {
  .bob-slide-regular {
    font-size: 2.3em;
    padding-top: 1em;
  }
}


/* 
 * -- Private page --------------------------------------------
 */

.bob-slide-private {
  font-size: 2.3em;
  padding-top: 0;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .bob-slide-private p,
  .bob-slide-private ol {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1000px) {
  .bob-slide-private p,
  .bob-slide-private ol {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
  }

  .bob-slide-private li {
    margin-left: 1.3em;
  }
}

.bob-slide-private p {
  font-family: 'cmu_sans_serifbold';
}

.bob-slide-private ol {
  margin-right: 1em;
  padding-bottom: 1em;
}

.bob-slide-private li::before {
  background-color: #000;
}

.bob-slide-private ol.upper-greek {
  list-style-type: upper-greek;
}

.bob-slide-private ol.lower-roman {
  list-style-type: lower-roman;
}

.bob-slide-private ol.circle {
  list-style-type: circle;
}

@media only screen and (min-width: 1000px) {
  .bob-slide-private .left {
    grid-column: 1;
  }
  .bob-slide-private .right {
    grid-column: 2;
  }
  .bob-slide-private .top {
    grid-row: 1;
  }
  .bob-slide-private .bottom {
    grid-row: 2;
  }
}